{% extends 'front/base.html.twig' %}

{% use 'bootstrap_4_horizontal_layout.html.twig' %}


{% block body %}
    <div class="container bg-white pad-15-20">
        <div class="row">
            <div class="col-sm-12">
                <p align="center" class="model_detail_title longtext">{{ model.name }}</p>
                <table class='col-xs-12 cardlist'>
                    <thead>
                        <th class='col-sm-10'>
                            <p>Ce modèle n'est plus disponible</p>
                        </th>
                        <th class='col-sm-2'>
                            <a href="{{ path('model_home') }}">
                                <button type="button" class="btn" data-target="#">Voir d'autres modèles</button>
                            </a>
                        </th>
                    </thead>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        
    </script>
{% endblock %}
